

.login-btn{
    background-color:#4060a7;
    color:white;
    width:100%;
}

a{
    font-size:1.25em;
    color: #5f6e8d;
    text-decoration:none;  
    cursor: pointer;
}

a:hover
{
    color: #df3131;
}


h2{
    text-transform: capitalize;
}
.input-bg input{   
        background-color:#ffffff!important;   
}
