<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse" fullScreen="true">
  <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>


<div class="container   h-25  bg-white mt-5  py-3 shadow-lg rounded-lg w-50 ">
  <mat-card class=" text-center shadow">
    <h2>User login <i class="fa fa-user-circle-o" aria-hidden="true"></i></h2>
  </mat-card>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="text-center my-4">
        <mat-form-field class="w-100 input-bgt">
          <input matInput [(ngModel)]="userName" placeholder="UserName" />
        </mat-form-field>
        <mat-form-field class="w-100 input-bg">
          <input matInput [(ngModel)]="password" placeholder="Password" type="password" />
        </mat-form-field>
        <button type="button" (click)="onLogin()" class="btn rounded-pill login-btn mb-3">
          Login <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>
        <div> <a routerLink='/register'>New User Register Here <i class="fas fa-user-plus"></i></a></div>
      </div>
    </div>
  </div>
  <div *ngIf="isDisable" class="text-center">
    <h6 [className]="alert ? 'alert alert-success' : 'alert alert-danger'">{{response}}</h6>
  </div>
</div>
