.sidenav {
  background-color: white;

}

@media screen and (max-width: 767px) {
  .sidenav {
   
    padding: 15px;
  }
}


a {
  text-decoration: none;
  color: rgb(126, 147, 161);
}


.active-link {
  color: rgb(233, 67, 67);
}

.demo{
  color: #4060a7;
}

button
{
  width: 50%;
}