
body {
  font-family: Trebuchet MS, sans-serif;
}


.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: auto;
  padding-top: 20px;
}


.left {
  left: 0;
  width: 20%;
  background-color: #4060a7;
  color: white;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

a:active {
  color: red;
}

li {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 50px;
}

.right {
  width: 80%;
  right: 0;
  background-color: rgb(216, 230, 240);
}




input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="reset"] {
  background-color: rgb(240, 63, 63);
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

h2 {
  color: #4CAF50;
}

button:disabled {
  opacity: 0.3;
}

.container {
  margin-left: 2%;
}

.nav-link.active-link {
  color: rgb(126, 147, 161)
}

.feedback {
  color: red;
}

h1 {
  text-align: center;
}
